# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtualenv / venv
venv/
ENV/
env/
.env
*.env

# Django stuff
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# Migrations cache (оставь сами миграции в Git!)
*.mo

# Byte-compiled / optimized / DLL files
*.so

# Local settings
/local_settings.py

# IDE / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# pytest / coverage / test cache
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.cache/
*.cover

# Jupyter / notebooks
.ipynb_checkpoints

# Docker
*.pid
*.seed
*.log
docker-compose.override.yml
.docker/
__docker__/
read.md
hw.md